<?xml version="1.0" ?>

<launch>
    
    <node pkg="ros" type="core" name="roscore" required="true" output="screen" />

    <!-- <env name="ROBOT_TYPE" value="a1"/>  -->

    <include file="$(find legged_unitree_description)/launch/empty_world.launch"> 
        <env name="ROBOT_TYPE" value="a1" />
        <!-- <arg name="robot_type" value="a1"/> -->
    </include>

    <include file="$(find legged_controllers)/launch/load_controller.launch">
        <env name="ROBOT_TYPE" value="a1" />
        <arg name="cheater" value="false"/>
        <!-- <arg name="robot_type" value="a1"/> -->
    </include>

    <group ns="controller_manager">
        <param name="load_controller" value="legged_controller" />
        
        <node name="controller_spawner" pkg="controller_manager" type="spawner" args="--namespace=controller_manager legged_controller" />
    </group>

</launch>
